@media (min-width: 768px) {
    body {
        width: 100%;
    }

    main {
        padding: 0 148px;
    }

    #netflix-logo {
        width: 148px;
    }

    header section {
        padding: 0 12%;
    }

    h1 {
        font-size: 3.25rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    .banner-container {
        width: 50%;
        padding-top: 9%;
    } 

    #get-started {
        flex-direction: row;
        gap: 0;
        padding-bottom: 3.75rem;
    }

    .get-started-btn {
        width: 213.25px;   
        font-size: 1.5rem;
        font-weight: bold;
    }

    .email-input {
        width: 366.75px;
        margin-right: 0.5rem;
    }

    /* Trending Now */
    h3 {
        font-size: 1.5rem;
        margin-left: 0;
    }

    #trending-now {
        gap: 37px;
    }

    .numbers {
        font-size: 6.25rem;
        right: 23px;
    }

    #show1, #show2, #show3, #show4, #show5 {
        width: 180px;
        height: 255px;
    }

    .overflow-container {
       display: flex;
    }

    /* Video Section */
    .tv-container {
        width: 100%;
    }
    .tv-container img {
        width: 100%;
        height: auto;
    }
    video {
        width: 80%;
    }

    /* More Reasons */
    #more-reasons {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .reasons-cards {
        height: 329px;
        flex-direction: column;
    }

    h4 {
        font-size: 1.5rem;
    }

    .reasons-cards .icon {
        width: 75px;
        height: 75px;
        left: 125px;
        position: relative;
    }

    /* FAQ */
    summary, details p {
        font-size: 1.5rem;
    }

    summary {
        padding: 0.25rem 1.5rem;
    }

    summary span {
        font-size: 3.75rem;
    }

    form {
        flex-direction: row;
        gap: 0;
    }

    .email-input2 {
        width: 562px;
        margin-right: 0.5rem;
    }

     /* Footer Section*/
    footer {
        padding: 0 10vw;
    }

    .footer-links {
        grid-template-columns: repeat(4, 1fr);
    }

    .languages > select {
        left: 10vw;
    }

    .translate {
        position: absolute;
        pointer-events: none;
        width: 1rem;
        height: 1rem;
        left: 0.75rem;
        right: auto;
        z-index: 1;
    }
}