

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /* background: black; */
}
body {
    background-color: black;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#navbar {
    box-sizing: border-box;   
    margin-top: 1.5rem;
}

#netflix-logo {
    width: 148px;
}

.sign-in-btn {
    background-color: rgb(229,9,20);
    color: white;
    border: none;
    border-radius: 3px;
    height: 2rem;
    width: 76.91px;
}
.sign-in-btn:hover {
    transition: 0.3s;
    cursor: pointer;
    opacity: 1;
    background-color: rgb(203, 11, 11);
}

header > * {
    color: white;
}
header {
    background: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0,.5), rgba(0,0,0, 0.97)),
                     url(./assets/background.jpg) center no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    height: 100vh; 
}

header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0 12%;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    padding-top: 9%;
    width: 50%;
}

h1 {
    font-weight: 900;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    align-items: center;
}

h5 {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 2rem;
}

#get-started {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 800px;
}

.get-started-btn {
    background-color: rgb(229,9,20);
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    padding: 12px 10px;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 3px;
    width: 213.25px;
    height: 56px;
}
#chevron-right {
    display: flex;
    justify-content: center;
    margin: 4px 10px;
}
.get-started-btn:hover {
    transition: 0.3s;
    cursor: pointer;
    opacity: 1;
    background-color: rgb(193, 17, 25);
}

.email-input {
    width: 366.75px;
    height: 56px;
    padding: 16px 16px 8px;
    border-radius: 3px;
    border: 1px solid #5e5e5f;
    justify-content: center;
    margin-right: 0.5rem;
    background-color: rgba(0,0,0,.5);
}

.curve-border {
    height: 4.5rem;
    width: 100%;
    background: linear-gradient(to right,#0000, rgba(33, 13, 22, 1) 0%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1),#0000); 
    clip-path: ellipse(60% 100% at bottom);
    mask: radial-gradient(62% 95% at bottom, #0000 98%, #000);
    display: flex;
    position: relative;
    align-items: center; 
   
}
.curved-border {
    background: linear-gradient(to left,#0000, rgba(33, 13, 22, 1) 2%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1),#0000); 
    clip-path: ellipse(60% 100% at bottom);
    mask: radial-gradient(62% 95% at bottom, #0000 98%, #000);
    height: 4.5rem;
    width: 100%;
}
.curved-container {
    background: radial-gradient(50% 100% at 50% 0%, rgba(64, 97, 231, 0.4) 0%, rgba(0, 0, 0, 0) 100%), black;
    clip-path: ellipse(70% 100% at bottom);
    width: 100%;
    height: 5rem; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#trending-now {
    display: flex;
    gap: 40px;
    padding-left: 4%;
    width: 100%;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom:1.5rem;
}

.numbers {
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    font-weight: 800;
    font-size: 6.25rem;
    position: relative;
    right: 23px;
}

div.cards {
    display: flex;
    margin-bottom: 4rem;
}

main {
    padding: 0 10vw;
}
#show1, #show2, #show3, #show4, #show5 {
    width: 180px;
    height: 255px;
    border-radius: 0.5rem;
    display: flex;
    align-items: flex-end;
    flex: 0 0 auto;
}
#show1 {
    background: url(./assets/card1-1.webp) center no-repeat;
    background-size: cover;
}
#show2 {
    background: url(./assets/card1-2.webp) center no-repeat;
    background-size: cover;
}
#show3 {
    background: url(./assets/card1-3.webp) center no-repeat;
    background-size: cover;
}
#show4 {
    background: url(./assets/card1-4.webp) center no-repeat;
    background-size: cover;
}
#show5 {
    background: url(./assets/card1-5.webp) center no-repeat;
    background-size: cover;
}

.overflow-container {
    background: rgba(0, 0, 0, 1);
    width: 60px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
}

.carousel-btn {
    background: rgba(26, 26, 26, 1);
    height: 7.5rem;
    width: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.carousel-btn:hover {
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.2);
}

#more-reasons {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.reasons-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    color: rgba(187, 187, 194, 1);
    width: 230px;
    height: 329px;
    border-radius: 1rem;
    padding: 1.5rem 1rem 0.5rem 1rem;
}

h4 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.icon {
    width: 75px;
    height: 75px;
}

details {
    background-color: rgba(45, 45, 45, 1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5rem;
    height: auto;
}
details:hover {
    transition: 0.2s;
    background-color: rgba(75, 75, 75, 0.8);
    cursor: pointer;
}
details[open] summary span {
    transform: rotate(45deg);
}
details p {
    background: rgba(45, 45, 45, 1);
    padding: 1.5rem;
    margin-top: 1px;
    font-size: 1.5rem;
    border-top: 1.5px solid black;
    width: 100%;
    text-align: left;
}

summary {
    font-size: 1.5rem;
    width: 100%;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
}
summary span {
    display: flex;
    font-size: 3.75rem;
    font-weight: lighter;
    margin-left: auto;
    transition: transform 0.3s ease;
}

#faq {
    margin-bottom: 4rem;
}

.form-title {
    display: flex;
    justify-content: center;
    color: white;
    padding: 1rem;
}
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 5.5rem;
}
.email-input2 {
    width: 562px;
    height: 56px;
    padding: 16px 16px 8px;
    border-radius: 3px;
    border: 1px solid #5e5e5f;
    justify-content: center;
    margin-right: 0.5rem;
    background-color: rgba(15, 15, 15, 1);
}

footer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10vw;
}

.call {
    display: flex;
    font-size: 14px;
    color: rgba(179, 179, 179, 1);
    margin-bottom: 1rem;
}

footer ul li:hover {
    cursor: pointer;
}
.footer-links li {
    font-size: 14px;
    line-height: 2rem;
    text-decoration: underline; 
    color: rgba(255, 255, 255, 0.7);
}
.footer-items {
    justify-content: space-between; 
    align-items: flex-start;
    margin-bottom: 4rem;
}
.footer-links {
    list-style-type: none;
    columns: 4;
    padding: 0;  
}

.languages > select {
    width: 124px;
    height: 2rem;
    padding: 6px 36px 6px 34px;
    border: 0.5px solid #5e5e5e;
    border-radius: 5px;
    background: transparent;
    color: #ffffff;
}

.translate-icon {
    color: white;
}

h6 {
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 1.5rem;
    font-size: 0.855rem;
    font-weight: 550;
}
footer p {
    color: rgba(184, 183, 183, 0.7);
    font-size: 0.775rem;
}

.legal {
    margin-bottom: 5rem;
    margin-top: 2rem;
}

@media screen and (min-width: 1024px) {
    /* body {
        width: 100%;
    }  */
    h1 {
        font-size: 3.5rem;
    }
    .banner-container {
        width: 50%;
    }
}